.header-container {
  height: 7.51vh;
  display: flex;
  background: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.backIcon {
  width: 45px;
  height: 45px;
}

.backButton {
  position: absolute;
  left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
  align-items: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 1; /* 이것만 제가 건드렸습니다 안그러면 클릭이 안되더라고요 ;; */
  border: none;
}
.pageName {
  font-family: Gugi;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 357.143%;
  letter-spacing: 3px;
  opacity: 0.6;
  position: absolute;
}
