.header-container {
	height: 7.51vh;
	display: flex;
	background: none;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
}

.backIcon {
	width: 45px;
	height: 45px;
}

.backButton {
	position: absolute;
	left: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: none;
	align-items: center;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border: none;
}
.pageName {
	font-family: Gugi;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 357.143%;
	letter-spacing: 3px;
	opacity: 0.6;
	position: absolute;
}
