.main-container {
    width: 100%;
    min-height: 100vh;
    background-image: url(./img/main-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}

.setting-icon {
    position: absolute;
    top: 3.4vh;
    right: 5.09vw;
}

#dot {
    position: absolute;
    content: '';
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    background: white;
    /* transform: rotate(45deg); */
    /* transform: rotate(attr(progress) deg) translate(45vw); */
    /* transform: translate(0, -45vw); */
}

.dday-circle {
    width: 353px;
    height: 353px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 0.4px solid #fff;
    background: linear-gradient(141deg, rgba(255, 255, 255, 0.07) 10.53%, rgba(255, 255, 255, 0.07) 86.28%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 6.68vh;
}

.CircularProgressbar {
    width: 385px;
    height: 385px;
}

.CircularProgressbar-trail {
    width: 100%;
    height: 100%;
}

.CircularProgressbar-path {
    stroke: white;
    stroke-width: 1;
}

.main-dday {
    color: #fff;
    text-align: center;
    font-family: 'Post No Bills Jaffna Medium';
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 78.125% */
    letter-spacing: 8px;
}

.dday-text {
    color: #fff;
    text-align: center;
    font-family: Product-Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 175% */
    letter-spacing: 1px;

    margin-top: 2.29vh;
}

.nav {
    width: 89.82%;
    height: 5.93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 6.09vh;
}

.create {
    /* position: absolute; */
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.95;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.05));
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.create img {
    width: 50%;
}

.menu {
    max-width: 100%;
    /* height: 7.88vh; */
    position: absolute;
    margin-top: 5.93vh;
    display: flex;
    flex-direction: column;
}

.mycapsule {
    position: absolute;
    top: 32%;
    left: 18%;
}
.archiving {
    position: absolute;
    top: 32%;
    left: 74%;
}

.main-footer {
    /* position: absolute;
    bottom: 0px; */
    margin-top: 15vh;
}
