.nickname {
    color: #fff;
    text-align: center;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 138.462% */
    letter-spacing: 1px;

    margin-top: 24.09vh;
}

.email {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;

    margin-top: 1.26px;
}

.mypage-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5.04vh;
    margin-bottom: 18.54vh;
    gap: 1.26vh;
}

.button1 {
    width: 40.46vw;
    height: 4.92vh;
    flex-shrink: 0;
    border-radius: 100px;
    border: none;
    opacity: 0.9;
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin: 0 auto;
}

.light {
    opacity: 0.9;
    background: rgba(255, 255, 255, 0.5);
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.withdraw {
    margin-bottom: 3.4vh;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}
