.mycapsule-container {
  height: 100vh;
  width: 100vw;
  background-color: #f3f3f3;
  position: relative;
  overflow: hidden;
} /* 일반 배경 */

.mycapsule-container-modal {
  height: 100vh;
  width: 100vw;
  background-color: #00000080;
  position: relative;
  overflow: hidden;
} /* 모달창 띄웠을때 흐린 배경 */

.gugi {
  width: 191px;
  height: 50px;
  top: 73px;
  left: 101px;
  opacity: 0.6px;
  font-family: Gugi;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
} /* capsule archiving 등 문구*/

.goback {
  width: 47px;
  height: 46px;
  top: 74px;
  left: 5px;
  opacity: 0.6px;
  position: absolute;
} /* 좌상단 뒤로가기 화살표*/

.year {
  width: 14.504vw;
  height: 6.305vh;
  top: 16.393vh;
  left: 42.748vw;
  font-family: Product Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 3px;
  text-align: center;
  position: absolute;
} /* 2024 연도 표시 */

.capsuletype {
  font-family: Product Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 6.305vh;
  letter-spacing: 0.254vw;
  text-align: left;
}

.goalposition {
  width: 11.672vw;
  height: 6.288vh;
  top: -1.765vh;
  left: 5.089vw;
  position: absolute;
}

.memoryposition {
  width: 15.522vw;
  height: 6.305vh;
  top: 22.446vh;
  left: 5.089vw;
  position: absolute;
}

.letterposition {
  width: 14.504vw;
  height: 6.305vh;
  top: 46.658vh;
  left: 5.089vw;
  position: absolute;
}

.goalcapsule {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  position: absolute;
  top: 4.54vh;
  left: 6.87vw;
  max-width: 100vw;
  overflow-x: scroll;
}

.goalcapsule > * {
  margin-right: 9.415vw;
} /* 캡슐 하나하나 사이 간격 */

.memorycapsule {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  position: absolute;
  top: 28.752vh;
  left: 6.87vw;
  max-width: 100vw;
  overflow-x: scroll;
  touch-action: pan-x;
}

.memorycapsule > * {
  margin-right: 9.415vw;
} /* 캡슐 하나하나 사이 간격 */

.lettercapsule {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  position: absolute;
  top: 52.963vh;
  left: 6.87vw;
  max-width: 393px;
  overflow-x: scroll;
}

.lettercapsule > * {
  margin-right: 9.415vw;
} /* 캡슐 하나하나 사이 간격 */

.capsulename {
  font-family: Noto Sans KR Medium;
  font-size: 11px;
  font-weight: 350;
  line-height: 2.27vh;
  letter-spacing: 0em;
  text-align: center;
  white-space: nowrap;
}

@font-face {
  font-family: "Product Sans";
  src: url("../font/Product-Sans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR Regular";
  src: url("../font/NotoSansKR-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR Medium";
  src: url("../font/NotoSansKR-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter SemiBold";
  src: url("../font/Inter-SemiBold.ttf") format("truetype");
}

.goalcapsule::-webkit-scrollbar-thumb {
  background-color: rgb(119, 120, 121);
  border-radius: 10px;
}
.goalcapsule::-webkit-scrollbar {
  height: 10px;
  display: none;
}

.memorycapsule::-webkit-scrollbar-thumb {
  background-color: rgb(119, 120, 121);
  border-radius: 10px;
}
.memorycapsule::-webkit-scrollbar {
  height: 10px;
  display: none;
}

.lettercapsule::-webkit-scrollbar-thumb {
  background-color: rgb(119, 120, 121);
  border-radius: 10px;
}
.lettercapsule::-webkit-scrollbar {
  height: 10px;
  display: none;
}

.blurring {
  height: 72.509vh;
  width: 100vw;
  top: 22.32vh;

  border-radius: 10px;
  filter: blur(3px);
  position: absolute;
} /* 블러처리상태 */

.blurring > * {
  pointer-events: none;
} /* 블러처리되면 안에 요소들 클릭 안되도록 함 */

.notblurring {
  top: 22.32vh;
  position: absolute;
} /* 블러처리상태 아닐때 */

.smalllock {
  top: 49.18vh;
  left: 48.092vw;
  position: absolute;
}

.locked {
  width: 49.873vw;
  height: 2.144vh;
  top: 54.477vh;
  left: 25.191vw;
  font-family: Inter SemiBold;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.144vh;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  white-space: nowrap;
}

.modal2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 74.555vw;
  height: 20.05vh;
  top: 36.57vh;
  left: 12.723vw;
  border-radius: 22px;
  background-color: #f3f3f3;
  position: absolute;
} /* 이게 진짜 모달창임 */

.confirmbutton {
  width: 35.623vw;
  height: 4.918vh;
  top: 58.386vh;
  left: 32.316vw;
  border-radius: 22px;
  background-color: #7c6ee0;
  color: #ffffff;
  position: absolute;
  border: none;
}

.blurbutton {
  bottom: 200px;
  right: 0;
  width: 200px;
  height: 200px;
  font-size: large;
  position: fixed;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

.text1 {
  width: 27.226vw;
  height: 3.026vh;
  top: 2.9vh;
  left: 23.664vw;
  font-family: Noto Sans KR Regular;
  font-size: 16px;
  font-weight: 700;
  line-height: 3.026vh;
  letter-spacing: 0em;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  color: #7c6ee0;
}

.text2 {
  width: 35.369vw;
  height: 8.575vh;
  opacity: 0.8;
  color: #000;
  top: 8.197vh;
  left: 19.847vw;
  text-align: center;
  font-family: Noto Sans KR Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.648vh; /* 21px */
  white-space: nowrap;
  position: absolute;
}

.text3 {
  width: 35.369vw;
  height: 8.575vh;
  margin-top: 1.261vh;
  left: 19.847vw;
  opacity: 0.7;
  color: #7c6ee0;
  text-align: center;
  font-family: Noto Sans KR Regular;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.712vw;
  white-space: nowrap;
  position: absolute;
}

@keyframes confirmbutton {
  0% {
    top: 69.357vh;
    opacity: 0;
  }

  70% {
    top: 59.647vh;
    opacity: 0.9;
  }

  100% {
    top: 58.386vh;
    opacity: 1;
  }
} /* 애니메이션 */

@keyframes notmodal2 {
  0% {
    top: 290px;
    opacity: 0;
  }

  70% {
    top: 700px;
    opacity: 0.9;
  }

  100% {
    top: 800px;
    opacity: 1;
  }
} /* 애니메이션 */

.abc {
  position: absolute;
  top: -8.071vh;
}

.qw {
  position: absolute;
  left: 27.99vw;
  top: 85.75vh;
}
