.main-modal {
    width: 89.82vw; /*353-42*2*/
    height: 33.67vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 22px;
    background: rgba(0, 0, 0, 0.3);

    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(25px);

    margin-top: 8.7vh;
    margin-bottom: 23.46vh;
    padding: 0 10.69vw;
    box-sizing: border-box;
    /* margin: 192px 0 42px; */
}

.main-modal .title {
    color: #fff;

    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 3.78vh;
    opacity: 0.7;
}

.main-modal input {
    width: 100%;
    box-sizing: border-box;
    height: 7.19vh;
    flex-shrink: 0;
    border-radius: 11px;
    border: 0.4px solid #fff;
    background: rgba(250, 189, 189, 0.1);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(25px);
    color: #fff;

    text-align: center;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 138.462% */
    letter-spacing: 1px;
    opacity: 0.9;

    margin-top: 3.78vh;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 6.94vh 0 0 0;
}

.button2 {
    width: 30.28vw;
    height: 4.92vh;
    flex-shrink: 0;
    border-radius: 100px;
    opacity: 0.9;
    background: none;
    color: #fff;
    border: 1.5px solid #fff;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.white {
    background: #fff;
    color: rgba(0, 0, 0, 0.5);
}
